<header class="navbar navbar-expand-md navbar-light mb-3 d-print-none">
    <div class="container-xl">
        <h1 class=" d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                <img src="./static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
        </h1>
        <div>
            <a class="btn btn-outline-primary" href="/sign-in">sign-in</a>
            <a class="btn btn-outline-primary" href="/sign-up">sign-up</a>
        </div>
    </div>
</header>
<div class="postList"></div>
{{!-- js file --}}
<script src="/javascripts/lending.js"></script>